.site_title:focus,
.site_title:hover,
a,
a:focus,
a:hover {
    text-decoration: none;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

.nav-sm .backstage .col-md-3 {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: absolute
}

.nav-sm .backstage .col-md-3 {
    position: fixed;
    height: 100%
}

.nav-sm .backstage .col-md-3,
.nav-sm .backstage .col-md-3 {
    overflow: visible
}

.nav-sm .backstage .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2
}

.nav-sm .navbar.nav_title {
    width: 70px
}

    .nav-sm .navbar.nav_title a span {
        display: none
    }

    .nav-sm .navbar.nav_title a i {
        font-size: 27px;
    }

.nav-sm .main_container .top_nav {
    display: block;
    margin-left: 70px;
    z-index: 2
}

.nav-sm .nav.backstage-slide li a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px
}

.nav-sm .nav.backstage-option li.active,
.nav-sm .nav.backstage-slide li.active-sm {
    border-right: 5px solid #1ABB9C
}

    .nav-sm .nav.backstage-slide li.active-sm ul ul,
    .nav-sm ul.nav.backstage-option ul {
        position: static;
        width: 200px;
        background: 0 0
    }

.nav-sm > .nav.backstage-slide > li.active-sm > a {
    color: #1ABB9C !important
}

.nav-sm .nav.backstage-slide li a i.toggle-up {
    display: none !important
}

.nav-sm .backstage-memu h3,
.nav-sm .profile,
.nav-sm .backstage-memu span.fa {
    display: none
}

.nav-sm .nav.backstage-slide li a i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px
}

.nav-sm ul.nav.backstage-option {
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #3E5367;
    display: none
}

    .nav-sm ul.nav.backstage-option li {
        padding: 0 10px
    }

.backstage-memu h3 {
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 20;
    margin-top: 0;
    text-shadow: 1px 1px #000;
}

.profile-pic {
    width: 35%;
    float: left
}

.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, .44);
    padding: 4px
}

.profile-info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left
}

    .profile-info span {
        font-size: 13px;
        line-height: 30px;
        color: #BAB8B8
    }

    .profile-info h2 {
        font-size: 14px;
        color: #ECF0F1;
        margin: 0;
        font-weight: 300
    }

.main_menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA
}

.nav-sm .backstage-memu {
    margin: 0
}

.nav-sm li li span.fa {
    display: inline-block
}

.nav_menu {
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative
}

@media (min-width:480px) {
    .nav_menu {
        position: static
    }
}

.nav-md .container.backstage .col-md-3 {
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1
}

    .nav-md .container.backstage .col-md-3.menu_fixed {
        height: 100%;
        position: fixed
    }

body .container.backstage .right_col {
    background: #F7F7F7
}

.nav-md .container.backstage .right_col {
    padding: 10px 20px 0;
    margin-left: 230px
}

.nav_title {
    width: 230px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px
}

@media (max-width:991px) {
    .nav-md .container.backstage .right_col,
    .nav-md .container.backstage .top_nav {
        width: 100%;
        margin: 0
    }

    .nav-md .container.backstage .col-md-3 {
        display: none
    }

    .nav-md .container.backstage .right_col {
        width: 100%;
        padding-right: 0
    }

    .right_col {
        padding: 10px !important
    }
}

@media (max-width:1200px) {
    .backstage-title h2 {
        width: 62%;
        font-size: 17px
    }

    .graph,
    .tile {
        zoom: 85%;
        height: inherit
    }
}

@media (max-width:1270px) and (min-width:192px) {
    .backstage-title h2 small {
        display: none
    }
}

.container {
    width: 100%;
    padding: 0
}

.top_nav .nav .open > a,
.top_nav .nav .open > a:focus,
.top_nav .nav .open > a:hover,
.top_nav .nav > li > a:focus,
.top_nav .nav > li > a:hover {
    background: #D9DEE4
}

body {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}

.main_container .top_nav {
    display: block;
    margin-left: 230px
}

.no-padding {
    padding: 0 !important
}

.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0
}

    .page-title .title_left {
        width: 45%;
        float: left;
        display: block
    }

        .page-title .title_left h3 {
            margin: 9px 0
        }

    .page-title .title_right {
        width: 55%;
        float: left;
        display: block
    }

        .page-title .title_right .pull-right {
            margin: 10px 0
        }

.fixed_height_320 {
    height: 320px
}

.fixed_height_390 {
    height: 390px
}

.fixed_height_200 {
    height: 200px
}

.progress-bar-dark {
    background-color: #34495E !important
}

.progress-bar-gray {
    background-color: #BDC3C7 !important
}

table.no-margin .progress {
    margin-bottom: 0
}

.main_content {
    padding: 10px 20px
}

.col-md-55 {
    width: 50%;
    margin-bottom: 10px
}

@media (min-width:768px) {
    .col-md-55 {
        width: 20%
    }
}

@media (min-width:992px) {
    .col-md-55 {
        width: 20%
    }
}

@media (min-width:1200px) {
    .col-md-55 {
        width: 20%
    }
}

@media (min-width:192px) and (max-width:1270px) {
    table.tile_info span.right {
        margin-right: 7px;
        float: left
    }
}

.center-margin {
    margin: 0 auto;
    float: none !important
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-55,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px
}

.row {
    margin-right: -10px;
    margin-left: -10px
}

.grid_slider .col-md-6 {
    padding: 0 40px
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 10px;
    margin-bottom: 10px
}

a {
    color: #5A738E
}

    .btn.active.focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn:active:focus,
    .btn:focus,
    :active,
    :focus,
    :visited,
    a,
    a:active,
    a:focus,
    a:visited {
        outline: 0
    }

.navbar {
    margin-bottom: 0
}

.navbar-header {
    background: #34495E
}

.navbar-right {
    margin-right: 0
}

.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right
}

    .top_nav .navbar-right li {
        display: inline-block;
        position: static
    }

@media (min-width:480px) {
    .top_nav .navbar-right li {
        position: relative
    }
}

.top_nav .dropdown-menu li {
    width: 100%
}

    .top_nav .dropdown-menu li a {
        width: 100%;
        padding: 12px 20px
    }

.top_nav li a i {
    font-size: 15px
}

.navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%
}

.sidebar-header {
    border-bottom: 0;
    margin-top: 46px
}

    .sidebar-header:first-of-type {
        margin-top: 0
    }

.nav {
    display: initial;
}

    .nav.backstage-slide > li {
        position: relative;
        display: block;
        cursor: pointer
    }

        .nav.backstage-slide > li > a:hover {
            color: #F2F5F7 !important
        }

        .nav.backstage-slide > li > a:hover,
        .nav > li > a:focus {
            text-decoration: none;
            background: 0 0
        }

    .nav.backstage-option {
        display: none
    }

        .nav.backstage-option li.active,
        .nav.backstage-option li:hover {
            background-color: rgba(255, 255, 255, .06)
        }

        .nav.backstage-option li {
            padding-left: 36px
        }

.nav-md ul.nav.backstage-option li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%
}

.nav-md ul.nav.backstage-option li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0
}

.nav.top_menu > li > a,
.nav > li > a {
    position: relative;
    display: block
}

.nav.backstage-option > li > a,
.nav.backstage-slide > li > a {
    color: #E7E7E7;
    font-weight: 500
}

.nav li li.current-page a,
.nav.backstage-option li li a.active,
.nav.backstage-option li li a:hover {
    color: #fff
}

.nav.backstage-option li li.active,
.nav.backstage-option li li:hover {
    background: 0 0
}

.nav > li > a {
    padding: 13px 15px 12px
}

.nav.backstage-slide > li.active,
.nav.backstage-slide > li.current-page {
    border-right: 5px solid #1ABB9C
}

.nav li.current-page {
    background: rgba(255, 255, 255, .05)
}

.nav li li li.current-page {
    background: 0 0
}

.navbar-brand,
.navbar-nav > li > a,
.site_title {
    color: #ECF0F1 !important;
    margin-left: 0 !important
}

.nav.backstage-slide > li.active > a {
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0
}

.navbar-brand,
.navbar-nav > li > a {
    font-weight: 500;
    line-height: 32px
}

.site_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 0px
}

    .site_title i {
        border: 1px solid #EAEAEA;
        padding: 5px 6px;
        border-radius: 50%;
    }

.nav.navbar-nav > li > a {
    color: #515356 !important
}

.nav.top_menu > li > a {
    padding: 10px 15px;
    color: #34495E !important
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent
}

.top_search {
    padding: 0
}

    .top_search .form-control {
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, .075);
        border-radius: 25px 0 0 25px;
        padding-left: 20px;
        border: 1px solid rgba(221, 226, 232, .49)
    }

        .top_search .form-control:focus {
            border: 1px solid rgba(221, 226, 232, .49);
            border-right: 0
        }

    .top_search .input-group-btn button {
        border-radius: 0 25px 25px 0;
        border: 1px solid rgba(221, 226, 232, .49);
        border-left: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        color: #93A2B2;
        margin-bottom: 0 !important
    }

.tiles,
.top_tiles {
    margin-bottom: 0
}

.toggle {
    float: left;
    margin: 0 0 10px;
    padding-top: 15px;
    width: 70px
}

    .toggle a {
        padding: 15px 15px 0;
        margin: 0;
        cursor: pointer
    }

        .toggle a i {
            font-size: 26px
        }

.nav.backstage-option > li > a {
    color: rgba(255, 255, 255, .75);
    font-size: 12px;
    padding: 9px
}

.panel_toolbox {
    float: right;
}

    .panel_toolbox > li {
        float: left;
        cursor: pointer
    }

        .panel_toolbox > li > a {
            padding: 5px;
            color: #C5C7CB;
            font-size: 14px
        }

            .panel_toolbox > li > a:hover {
                background: #F5F7FA
            }

.degrees:after,
.backstage-content,
.backstage-panel {
    position: relative
}

.backstage-panel,
.backstage-title {
    margin-bottom: 10px
}

.backstage-panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease
}

.backstage-title .filter {
    width: 40%;
    float: right
}

.backstage-content,
table.tile td ul li a,
table.tile_info {
    width: 100%
}

.backstage-title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
}

    .backstage-title h2 {
        margin: 5px 0 6px;
        float: left;
        display: block
    }

        .backstage-title h2 small {
            margin-left: 10px
        }

    .backstage-title span {
        color: #BDBDBD
    }

.backstage-content {
    padding: 0 5px 6px;
    float: left;
    clear: both;
    margin-top: 5px
}

.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px
}

.item input,
.item textarea {
    transition: .42s
}

textarea {
    padding: 10px;
    vertical-align: top;
    width: 200px
}

    textarea:focus {
        outline-style: solid;
        outline-width: 2px
    }

.editor-wrapper {
    min-height: 250px;
    background-color: #fff;
    border-collapse: separate;
    border: 1px solid #ccc;
    padding: 4px;
    box-sizing: content-box;
    box-shadow: rgba(0, 0, 0, .07451) 0 1px 1px 0 inset;
    overflow: scroll;
    outline: 0;
    border-radius: 3px
}


/*--------------- 更新Update -----------------*/

.nav > li {
    position: relative;
    display: block;
}

.btn-success {
    color: #26bec9;
    background-color: #fff !important;
    border: 1.5px solid rgba(38, 190, 201, .7);
    box-shadow: none !important;
}

    .btn-success:hover {
        color: #22a7aa;
        background-color: #e4f4f5;
        border-color: #26bec9;
    }

    .btn-success:not(:disabled):not(.disabled):active {
        color: #26bec9;
        background-color: #fff;
        border: 1.5px solid rgba(38, 190, 201, .7);
    }

/*------------------ Toast ----------------- */

#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

    #toast #desc {
        color: #fff;
        padding: 16px;
        overflow: hidden;
        white-space: nowrap;
    }

    #toast.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}