body {
    background-color: #F5F5F5 !important;
}

.aniShow {
    animation: popShow 0.5s;
}

@keyframes popShow {
    from {
        transform: scale(0.1, 0.1);
    }

    to {
        transform: scale(1, 1);
    }
}

.member-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}

.nav-pills .nav-link {
    background-color: #FFF !important;
    border-radius: 0 !important;
}

    .nav-pills .nav-link.active {
        color: #22a7aa !important;
        border-bottom: 3px solid #22a7aa;
    }

    .nav-pills .nav-link:hover {
        border-bottom: 3px solid #22a7aa;
    }

.btn-primary {
    color: #fff !important;
    background-color: #26bec9 !important;
    border: none !important;
}

.text-primary {
    color: #26bec9 !important;
}


/*------list------*/

.list-group .list-group-item > strong > a {
    color: #343a40;
} 

.product-list {
    border: 1px solid #eaeaea;
    box-shadow: none;
    background-color: #fff;
    margin-bottom: 15px;
    position: relative;
    border-radius: 6px;
    transition: .25s;
}

    .product-list:hover {
        box-shadow: 0px 0px 8px 2px #eaeaea;
    }

    .product-list .img-bg {
        height: 205px;
        margin-right: -10px;
        border-radius: 6px 0 0 6px;
    }

@media (max-width: 992px) {
    .product-list .img-bg {
        margin-right: 0;
        border-radius: 6px 6px 0 0;
    }
}

.img-bg {
    background-color: slategray;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.product-detail {
    padding: 0 15px 10px 0;
    position: relative;
    min-height: 170px;
}

@media (max-width: 992px) {
    .product-list .product-detail {
        padding: 8px 12px;
    }
}

.product-list .product-card {
    text-decoration: none;
}

.product-list .product-detail > h3 {
    height: auto;
    margin: 10px 0 8px;
    padding-right: 40px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

.product-detail > h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 52px;
}

.alert {
    padding: 0px;
}

.product-detail .product-content {
    color: #666;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 5px;
    max-height: 48px;
    overflow: hidden;
    position: relative;
}

.product-place {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 4px;
    color: #666;
}

.product-time {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 4px;
    color: #666;
}

.product-detail .product-footer {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    padding: 0 15px 0 0;
}

@media (max-width: 992px) {
    .product-detail .product-footer {
        position: static;
    }
}

.product-count {
    color: #999;
    font-size: 0.9rem;
    font-weight: bold;
}

.product-price span {
    color: #999;
    font-weight: bold;
}
