@{
    ViewBag.Title = "確認電子郵件";
}


<div class="pt-5 mt-5">
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
