@charset "utf-8";

/* CSS Document */


/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Locations
7. Undefined
8. Footer


******************************/


/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

img {
    max-width: 100%;
}

.super_container {
    width: 100%;
    overflow: hidden;
}

.super_container_inner {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

    .super_container_inner.active {
        -webkit-transform: translateX(-350px);
        -moz-transform: translateX(-350px);
        -ms-transform: translateX(-350px);
        -o-transform: translateX(-350px);
        transform: translateX(-350px);
    }

.super_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.super_container_inner.active .super_overlay {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}


/*********************************
3. Header
*********************************/

.header {
    background: rgba(196, 196, 196, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

    .header.scrolled {
        background: rgba(196, 196, 196, 0.9);
    }

    .header.active {
        -webkit-transform: translateX(-350px);
        -moz-transform: translateX(-350px);
        -ms-transform: translateX(-350px);
        -o-transform: translateX(-350px);
        transform: translateX(-350px);
    }

.header_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.8);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.header.active .header_overlay {
    visibility: visible;
    opacity: 1;
}

.header_content {
    width: 100%;
    height: 90px;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.header.scrolled .header_content {
    height: 90px;
}

.logo a {
    font-size: 24px;
    color: #000000;
}

    .logo a span {
        color: #ffb400;
    }

        .logo a span:last-child {
            font-weight: 700;
        }

.main_nav ul li:not(:last-of-type) {
    margin-right: 59px;
}

.main_nav ul li a {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
}

.main_nav ul li.active a {
    color: #000000;
}

.log_reg {
    margin-left: 28px;
}

    .log_reg ul li:not(:last-of-type)::after {
        display: inline-block;
        content: '/';
        margin-left: 6px;
        margin-right: 6px;
        font-size: 16px;
        font-weight: 300;
        color: #000000;
    }

    .log_reg ul li a {
        font-size: 16px;
        font-weight: 300;
        color: #000000;
    }

    .log_reg ul li:first-child a {
        color: #000000;
    }

.hamburger {
    display: none;
    margin-left: 30px;
    cursor: pointer;
}

    .hamburger i {
        font-size: 20px;
        color: #000000;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .hamburger:hover i {
        color: #ffb400;
    }


/*********************************
4. Menu
*********************************/

.menu {
    position: fixed;
    top: 0;
    right: -350px;
    background: #FFFFFF;
    width: 350px;
    height: 100vh;
    z-index: 101;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

    .menu.active {
        right: 0;
    }

.menu_container {
    padding-top: 57px;
    padding-right: 30px;
    width: 100%;
    height: 100%;
}

.menu_close {
    display: inline-block;
    text-align: right;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

    .menu_close:hover {
        color: #ffb400;
    }

.menu_nav {
    margin-top: 107px;
}

    .menu_nav ul li:not(:last-of-type) {
        margin-bottom: 1px;
    }

    .menu_nav ul li a {
        font-size: 24px;
        color: #000000;
    }


/*********************************
8. Footer
*********************************/

.ftco-footer {
    font-size: 14px;
    background: #f6f7f2;
    padding: 6em 0;
}

    .ftco-footer .ftco-footer-logo {
        text-transform: uppercase;
        letter-spacing: .1em;
    }

    .ftco-footer .ftco-footer-widget h2 {
        font-weight: normal;
        color: #3c312e;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
    }

    .ftco-footer .ftco-footer-widget ul li a span {
        color: #3c312e;
    }

    .ftco-footer .ftco-footer-widget .btn-primary {
        background: #3c312e !important;
        border: 2px solid #3c312e !important;
    }

        .ftco-footer .ftco-footer-widget .btn-primary:hover {
            background: #3c312e;
            border: 2px solid #3c312e !important;
        }

    .ftco-footer p {
        color: #3c312e;
    }

    .ftco-footer a {
        color: #3c312e;
    }

        .ftco-footer a:hover {
            color: #3c312e;
        }

    .ftco-footer .ftco-heading-2 {
        font-size: 17px;
        font-weight: 400;
        color: #000000;
    }

    .ftco-footer .categories li {
        border-bottom: 1px solid #3c312e;
    }

        .ftco-footer .categories li a span {
            color: #3c312e !important;
        }

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

    .ftco-footer-social li a {
        height: 50px;
        width: 50px;
        display: block;
        float: left;
        background: #FFFFFF;
        border-radius: 50%;
        position: relative;
    }

        .ftco-footer-social li a i {
            position: absolute;
            font-size: 26px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .ftco-footer-social li a:hover {
            border-color: #000000;
            transform: scale(1.1);
            transition: 0.3s all ease-out;
            opacity: 0.8;
        }

.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
