@{ViewBag.Title = "_AbCardPartial";}
<link rel="stylesheet" href="~/Assets/Css/about/AbCard/cardstyle.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="section-headline text-center">
    <h2>About eBusiness</h2>
</div>
<div class="content content1">
    <!-- card -->
    <div class="card card1">

        <div class="icon icon1"><i class="material-icons md-36">face</i></div>
        <p class="title">Profile</p>
        <p class="text">Click to see or edit your profile page.</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card card1">

        <div class="icon icon1"><i class="material-icons md-36">favorite_border</i></div>
        <p class="title">Favourites</p>
        <p class="text">Check all your favourites in one place.</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card card1">

        <div class="icon icon1"><i class="material-icons md-36">alternate_email</i></div>
        <p class="title">Contacts</p>
        <p class="text">Add or change your contacts and links.</p>

    </div>
    <!-- end card -->



</div>
  
<!-- partial -->