
@{
    ViewBag.Title = "_AbCardPartial";
}

<link rel="stylesheet" href="~/Assets/Css/about/AbCard/cardstyle.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="section-headline text-center">
    <h2>About HolyGo</h2>
</div>
<div class="content content1">
    <!-- card -->
    <div class="card card1">

        <div class="icon icon1"><i class="material-icons md-36">face</i></div>
        <p class="title">誠實評價</p>
        <p class="text px-3"><small>我們了解口耳相傳的重要性，所以鼓勵所有HolyGo旅人們留下最真實的感受，提供更多資訊給其他旅客，也協助我們打造更多獨一無二的旅遊體驗。</small></p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card card1">

        <div class="icon icon1"><i class="material-icons md-36">favorite_border</i></div>
        <p class="title">專家帶隊</p>
        <p class="text px-3"><small>我們的團隊不停地搜羅全世界最特別、最深入在地的體驗行程，只為了讓旅人安心地跟著HolyGo體驗全世界的精華。</small></p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card card1">

        <div class="icon icon1"><i class="material-icons md-36">alternate_email</i></div>
        <p class="title">嚴格篩選</p>
        <p class="text px-3"><small>為了成為旅人最可靠的夥伴，HolyGo嚴格篩選所有服務供應商，也定期追蹤合作夥伴們的服務品質，讓旅人能夠放心感受旅行的美好。</small></p>

    </div>
    <!-- end card -->



</div>
  
<!-- partial -->