@{ViewBag.Title = "_RadiusCardPartial";}
<link rel="stylesheet" href="~/Assets/Css/about/radiusCard/RadiusCard.css" />

<div class="section-headline text-center">
    <h2>About eBusiness</h2>
</div>
<div class="content text-center">
    <div class="card rcard">
        <h2 class="icon ricon"><i class="material-icons">verified_user</i></h2>
        <h3 class="title">隱私保護</h3>

        <p class="text">
            身為您的好夥伴，您的隱私及安全是KKday的第一考量。我們用可靠的保密系統保護您的資料，不用擔心您的資料會被洩漏給第三方。
        </p>
    </div>
    <div class="card rcard">
        <h2 class="icon ricon"><i class="material-icons">devices</i></h2>
        <h3 class="title">平台整合</h3>

        <p class="text">
            出門在外，旅人可以直接透過KKday安全的交易平台完成付款及訂購程序。您不必再煩惱交易，這部分交給我們來處理。
        </p>
    </div>
    <div class="card rcard">
        <h2 class="icon ricon"><i class="material-icons">credit_card</i></h2>
        <h3 class="title">輕鬆預訂</h3>

        <p class="text">
            無論您喜歡提前計畫旅途，或者習慣當下做決定，到KKday的網站和APP，彈性選擇您的行程、輕鬆預訂，即時出遊！
        </p>
    </div>
</div>