@{
    ViewBag.Title = "_VideoPartial";
}
<link rel="stylesheet" href="~/Assets/Css/about/Viedo/viedo.css" />

    <div class="con mt-5 pt-5">
        <div id="cover">
            <div class="bg-wrap">
                @*<video class="video_bg" preload="auto" autoplay loop="loop" muted="muted" src="https://www.youtube.com/watch?v=x3r0-0Gl0QQ"></video>*@
                <iframe class="video_bg vh-100" preload="auto" muted="muted" src="https://www.youtube.com/embed/x3r0-0Gl0QQ?controls=0" frameborder="0" autoplay picture-in-picture accelerometer encrypted-media gyroscope allowfullscreen></iframe>
            </div>
        </div>
    </div>


