@{
    ViewBag.Title = "_VideoPartial";
}
<link rel="stylesheet" href="~/Assets/Css/about/Viedo/viedo.css" />



    <div class="con">
        <div id="cover">
            <div class="bg-wrap">
                <video class="video_bg" preload="auto" autoplay loop="loop" muted="muted" src="~/Assets/Images/About/videoplayback.mp4">     </video>
            </div>
        </div>
    </div>


