
@{
    ViewBag.Title = "_BannerPartial";
}
    <link rel="stylesheet" href="~/Assets/Css/Home/Banner/Banner.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap" rel="stylesheet">

    <div class="site-wrap">

        <div class="site-blocks-cover overlay" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center text-center justify-content-center">
                    <div class="col-md-8">
                        <h1 style="font-family: 'Noto Sans TC', sans-serif;">歡迎來到Holy GO</h1>
                        <span class="sub-text" style="font-family: 'Noto Sans TC', sans-serif;">
                            全世界最棒的旅遊體驗與HolyGo一起，開啟新旅程，探索世界的更多可能
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-block-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
                            <div class="mr-3">
                                <i class="fas fa-walking pt-2" style="font-size:50px; color:white;"></i>
                            </div>
                            <div class="site-text">
                                <h3 style="font-family: 'Noto Sans TC', sans-serif; ">與更多人分享</h3>
                                <p style="font-family: 'Noto Sans TC', sans-serif; font-weight:700">
                                    我們將旅行定義為生活的必需品，讓更多人可以用合理的預算，享受美好的旅行。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
                            <div class="mr-3">
                                <i class="fas fa-ticket-alt pt-2" style="font-size:50px; color:white;"></i>
                            </div>
                            <div class="site-text">
                                <h3 style="font-family: 'Noto Sans TC', sans-serif; font-weight:700">優惠價格保證</h3>
                                <p style="font-family: 'Noto Sans TC', sans-serif; font-weight:700">HolyGo 致力為超過 3 億會員提供優惠價格，讓您節省更多旅費，立即登記成為會員。</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
                            <div class="mr-3">
                                <i class="fas fa-suitcase-rolling pt-2" style="font-size:50px; color:white;"></i>
                            </div>
                            <div class="site-text">
                                <h3 style="font-family: 'Noto Sans TC', sans-serif; font-weight:700">讓熱愛旅行的你，享受世界的美好</h3>
                                <p style="font-family: 'Noto Sans TC', sans-serif; font-weight:700">有 HolyGo，您可以隨時隨地放心旅行，因為當您需要我們的時候，便會馬上找到我們。</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
