
@{
    ViewBag.Title = "_OurTeamPartial";
}

<link rel="stylesheet" href="~/Assets/Css/Home/OurTeam/flexslider.css" />
<link rel="stylesheet" href="~/Assets/Css/Home/OurTeam/style.css" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap" rel="stylesheet">

    <section class="team">
        <div class="text">
            <h2 style="font-family: 'Noto Sans TC', sans-serif; font-weight:700;">Our Team</h2>
            <strong>以下為我們的組員</strong>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="https://static.newmobilelife.com/wp-content/uploads/2018/11/oppa1.jpg">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="team-text">
                                            <h3 style="font-family: 'Noto Sans TC', sans-serif; font-weight:700;">龎文軒</h3>
                                            <p>
                                                工作內容：
                                            </p>
                                            <p>
                                                <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fab fa-line" aria-hidden="true"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li data-thumb="https://static.newmobilelife.com/wp-content/uploads/2018/11/unnie1.jpg">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="team-text">
                                            <h3 style="font-family: 'Noto Sans TC', sans-serif; font-weight:700;">白昕</h3>
                                            <p>
                                                工作內容：
                                            </p>
                                            <p>
                                                <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fab fa-line" aria-hidden="true"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li data-thumb="https://static.newmobilelife.com/wp-content/uploads/2018/11/unnie1.jpg">
                                @*"~/../Assets/Images/destination-1.jpg"*@
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="team-text">
                                            <h3 style="font-family: 'Noto Sans TC', sans-serif; font-weight:700;">蘇千惠</h3>
                                            <p>
                                                工作內容：
                                            </p>
                                            <p>
                                                <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fab fa-line" aria-hidden="true"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
