
@{
    ViewBag.Title = "_IndexOwlPartial";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Assets/Css/Home/Card/owl_card.css" />

<div class="container mt-4">
    <div class="mhn-title">
        <h1 style="font-family: 'Noto Sans TC', sans-serif; font-weight:700;">為你推薦🎈</h1>
    </div>
    <div class="mhn-slide owl-carousel">
        <div class="mhn-item">
            <div class="mhn-inner">
                <div class="card_demo">
                    <h4>Light Top</h4>
                    <div class="image">
                        <img src="~/Assets/Images/destination-6.jpg" alt="sq-sample6" />
                    </div>
                    <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i></div>
                    <div class="card_content">
                        <p>【長灘島知名浮潛天堂】海陸探索半日遊</p>
                        <div class="price">
                            <s>$24.00</s>$19.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mhn-item">
            <div class="mhn-inner">
                <div class="card_demo">
                    <h4>Light Top</h4>
                    <div class="image">
                        <img src="~/Assets/Images/destination-5.jpg" alt="sq-sample6" />
                    </div>
                    <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i></div>
                    <div class="card_content">
                        <p>
                            【菲律賓長灘島熱門水上活動】拖曳傘、水上快艇、海底漫步、水上摩托車
                        </p>
                        <div class="price">
                            <s>$24.00</s>$19.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mhn-item">
            <div class="mhn-inner">
                <div class="card_demo">
                    <h4>Light Top</h4>
                    <div class="image">
                        <img src="~/Assets/Images/destination-4.jpg" alt="sq-sample6" />
                    </div>
                    <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i></div>
                    <div class="card_content">
                        <p>
                            I'm just very selective about the reality I choose to accept.
                        </p>
                        <div class="price">
                            <s>$24.00</s>$19.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mhn-item">
            <div class="mhn-inner">
                <div class="card_demo">
                    <h4>Light Top</h4>
                    <div class="image">
                        <img src="~/Assets/Images/destination-3.jpg" alt="sq-sample6" />
                    </div>
                    <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i></div>
                    <div class="card_content">
                        <p>
                            I'm just very selective about the reality I choose to accept.
                        </p>
                        <div class="price">
                            <s>$24.00</s>$19.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mhn-item">
            <div class="mhn-inner">
                <div class="card_demo">
                    <h4>Light Top</h4>
                    <div class="image">
                        <img src="~/Assets/Images/destination-2.jpg" alt="sq-sample6" />
                    </div>
                    <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i></div>
                    <div class="card_content">
                        <p>
                            I'm just very selective about the reality I choose to accept.
                        </p>
                        <div class="price">
                            <s>$24.00</s>$19.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

